.section-videojuego {
  background-color: #121212;
  padding: 20px 0;
}

.card-img-left {
  border-radius: 20px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card {
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #52ACFF;
  background-image: linear-gradient(119deg, #52ACFF 25%, #FFE32C 100%);
  
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 
              0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-body {
  padding: 10px;
}

.card-title {
  margin-right: 15px;
}

.btn-dark {
  border-radius: 20px;
  width: 120px;
  
}

.btn-dark:hover {
  background: rgb(26,248,255);
  background: linear-gradient(328deg, rgba(26,248,255,1) 17%, rgba(9,76,121,1) 51%, rgba(0,212,255,1) 100%);
}

h3, h4 {
  color: rgb(0, 91, 228);
}
