<app-hero></app-hero>
<section class="section-videojuego">
    <div class="container-fluid py-5">
        <h1 class="text-center text-white">VideoJuegos</h1>
        <div class="row px-3">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label class="form-label text-primary">Filtro</label>
                    <div class="d-flex justify-content-start">
                        <ngx-select-dropdown class="" (change)="selectionChanged($event)" [config]="config" [options]="dropdownOptions" style="width: 200px;"></ngx-select-dropdown>
                        <input class="form-control w-50 ms-2" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-3">
            <!-- Card 1 -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5">
                <a [routerLink]="['/videojuego-detalle-alquiler']" class="card-link">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-5">
                                <img src="https://i.3djuegos.com/juegos/15427/bayonetta_3/fotos/ficha/bayonetta_3-5754906.webp" class="card-img-left" alt="Bayonetta 3">
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">Bayonetta 3</h4>
                                        <h6 class="text-success mt-2">Acción</h6>
                                        <h5 class="mt-3">RD$50*dia</h5>
                                        <label class="text-warning">Disponibles: 5</label>
                                        <p class="card-text mt-3">Dispara, pisotea y golpea a través de múltiples ubicaciones y conoce a otras Bayonettas en este nuevo juego de acción culminante.</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-dark mt-auto">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card 2 -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5">
                <a href="#" class="card-link">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-5">
                                <img src="https://uvejuegos.com/img/caratulas/56704/tloz-breath-of-the-wild-eur.jpg" class="card-img-left" alt="Bayonetta 3">
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">The Legend of Zelda: Breath Of The Wild</h4>
                                        <h6 class="text-success mt-2">Aventura</h6>
                                        <h5 class="mt-3">RD$60*dia</h5>
                                        <label class="text-warning">Disponibles: 5</label>
                                        <p class="card-text mt-3">El primer mundo abierto de la saga de Zelda.</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-dark mt-auto">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card 3 -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5">
                <a href="#" class="card-link">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-5">
                                <img src="https://i.3djuegos.com/juegos/16711/the_legend_of_zelda_breath_of_the_wild_2/fotos/ficha/the_legend_of_zelda_breath_of_the_wild_2-5803954.webp" class="card-img-left " alt="Bayonetta 3">
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">The Legend of Zelda: Tears Of The Kingdom</h4>
                                        <h6 class="text-success mt-2">Aventura</h6>
                                        <h5 class="mt-3">RD$70*dia</h5>
                                        <label class="text-warning">Disponibles: 10</label>
                                        <p class="card-text mt-3">Secuela de Breath of the Wild.</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-dark mt-auto">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5">
                <a href="#" class="card-link">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-5">
                                <img src="https://i.3djuegos.com/juegos/15427/bayonetta_3/fotos/ficha/bayonetta_3-5754906.webp" class="card-img-left" alt="Bayonetta 3">
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">Bayonetta 3</h4>
                                        <h6 class="text-success mt-2">Acción</h6>
                                        <h5 class="mt-3">RD$50*dia</h5>
                                        <label class="text-warning">Disponibles: 5</label>
                                        <p class="card-text mt-3">Dispara, pisotea y golpea a través de múltiples ubicaciones y conoce a otras Bayonettas en este nuevo juego de acción culminante.</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-dark mt-auto">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card 2 -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5">
                <a href="#" class="card-link">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-5">
                                <img src="https://uvejuegos.com/img/caratulas/56704/tloz-breath-of-the-wild-eur.jpg" class="card-img-left" alt="Bayonetta 3">
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">The Legend of Zelda: Breath Of The Wild</h4>
                                        <h6 class="text-success mt-2">Aventura</h6>
                                        <h5 class="mt-3">RD$60*dia</h5>
                                        <label class="text-warning">Disponibles: 5</label>
                                        <p class="card-text mt-3">El primer mundo abierto de la saga de Zelda.</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-dark mt-auto">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card 3 -->
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mt-5">
                <a href="#" class="card-link">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-5">
                                <img src="https://i.3djuegos.com/juegos/16711/the_legend_of_zelda_breath_of_the_wild_2/fotos/ficha/the_legend_of_zelda_breath_of_the_wild_2-5803954.webp" class="card-img-left " alt="Bayonetta 3">
                            </div>
                            <div class="col-md-7 d-flex flex-column">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h4 class="card-title mb-0">The Legend of Zelda: Tears Of The Kingdom</h4>
                                        <h6 class="text-success mt-2">Aventura</h6>
                                        <h5 class="mt-3">RD$70*dia</h5>
                                        <label class="text-warning">Disponibles: 10</label>
                                        <p class="card-text mt-3">Secuela de Breath of the Wild.</p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-dark mt-auto">Alquilar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
