<app-hero></app-hero>
<section class="section-videojuego">
    <div class="container-fluid py-5">
        <h1 class="text-center text-white">VideoJuegos</h1>
        <div class="row mb-4">
            <div class="col-6">
                
                <div class="form-group">
                    <label class="form-label text-primary">Filtro</label>
                    <div class="d-flex justify-content-start">
                        <ngx-select-dropdown class="" (change)="selectionChanged($event)" [config]="config" [options]="dropdownOptions" style="width: 200px;"></ngx-select-dropdown>
                        <input class="form-control w-50 ms-2" type="text">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card" style="height: 650px;">
                    <img src="https://i.3djuegos.com/juegos/15427/bayonetta_3/fotos/ficha/bayonetta_3-5754906.webp" class="card-img-top" alt="Bayonetta 3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-2">Bayonetta 3</h4>
                            <h6 class="text-success">Acción</h6>
                        </div>
                        <label class="text-body mb-2">Disponibles: 5</label>
                        <p class="card-text">Dispara, pisotea y golpea a través de múltiples ubicaciones y conoce a otras Bayonettas en este nuevo juego de acción culminante.</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3 px-4">
                        <h3>RD$50*dia</h3>
                        <button class="btn btn-primary">Alquilar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="height: 650px;">
                    <img src="https://uvejuegos.com/img/caratulas/56704/tloz-breath-of-the-wild-eur.jpg" class="card-img-top" alt="The Legend of Zelda: Breath Of The Wild">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-2">The Legend of Zelda: Breath Of The Wild</h4>
                            <h6 class="text-success">Aventura</h6>
                        </div>
                        <label class="text-dark mb-2">Disponibles: 20</label>
                        <p class="card-text">El primer mundo abierto de la saga de Zelda.</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3 px-4">
                        <h3>RD$60*dia</h3>
                        <button class="btn btn-primary">Alquilar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="height: 650px;">
                    <img src="https://i.3djuegos.com/juegos/16711/the_legend_of_zelda_breath_of_the_wild_2/fotos/ficha/the_legend_of_zelda_breath_of_the_wild_2-5803954.webp" class="card-img-top" alt="The Legend of Zelda: Tears Of The Kingdom">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-2">The Legend of Zelda: Tears Of The Kingdom</h4>
                            <h6 class="text-success">Aventura</h6>
                        </div>
                        <label class="text-dark mb-2">Disponibles: 5</label>
                        <p class="card-text">Secuela de Breath of the Wild.</p>
                    </div>
                    <div class="d-flex justify-content-between mb-3 px-4">
                        <h3>RD$50*dia</h3>
                        <button class="btn btn-primary">Alquilar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
