.navbar{
    background: rgb(26,248,255);
    background: linear-gradient(328deg, rgba(26,248,255,1) 17%, rgba(9,76,121,1) 51%, rgba(0,212,255,1) 100%);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #000000; /* Estado inicial */
    font-size: 24px;
    transition: color 0.3s; /* Transición en la propiedad color durante 0.3 segundos */
}

.navbar-brand:hover {
    color: #f62c2c; /* Estado final al hacer hover */
}


.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.register-button{
    background-color: #32b9f8;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
    margin-left: 10px;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
    
}

@media (max-width: 991px) {

    .offcanvas-header{
        background: rgb(9,76,121);
        background: linear-gradient(180deg, rgba(9,76,121,1) 0%, rgba(0,212,255,1) 61%);
    }
    
    .offcanvas-body {
        background: rgb(9,76,121);
        background: linear-gradient(0deg, rgba(9,76,121,1) 0%, rgba(0,212,255,1) 61%);
    }
}

.navbar-toggler:focus , .btn-close:focus{
    box-shadow: none;
    outline: none;
    
}

.nav-link {
    color: #ffffff;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link:active{
    color:#000000;
}

@media (min-width: 991px){

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #f62c2c;
    visibility: hidden;
    transition: 0.1s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}
}