<div class="modal-header gradient d-flex justify-content-between px-3 py-2">
    <h2 class="modal-title">Detalles del Alquiler</h2>
    <button type="button" (click)="dialogRef.close();" style="background: none; border: none; padding: 0; outline: none; box-shadow: none;" aria-label="Close">
      <i aria-hidden="true" class="fa-solid fa-xmark text-danger fa-2x"></i>
    </button>
  </div>
  
<div class="modal-body">
  <div class="detalle-alquiler d-flex px-3 mt-3">
    <!-- Imagen del producto o propiedad alquilada -->
    <div class="imagen-producto me-3">
      <img src="https://via.placeholder.com/150x200" alt="Imagen del Producto" style="width: 160px;" class="img-fluid rounded">
    </div>

    <!-- Información del alquiler -->
    <div class="info-producto">
      <h5 class="titulo-producto text-white">Nombre del Producto</h5>
      <p class="text-white"><strong>Fecha de Alquiler:</strong> 01 de Enero de 2024</p>
      <p class="text-white"><strong>Duración del Alquiler:</strong> 7 días</p>
      <p class="text-white"><strong>Precio Total:</strong> $35.00</p>
      <p class="text-white"><strong>Cliente:</strong> Nombre del Cliente</p>
      <p class="text-white"><strong>Estado del Alquiler:</strong> Completado</p>
    </div>
  </div>

  <div class="descripcion-producto mt-3 px-3 mb-5">
    <h5 class="text-white">Descripción</h5>
    <p class="text-white">Descripción breve del producto o servicio alquilado, proporcionando detalles esenciales que podrían ser relevantes para el cliente.</p>
  </div>
</div>

<!-- <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
</div> -->
